<template name="download">		
	<!-- Two -->
	<section id="two" class="wrapper">
		<div class="inner alt">
			<section class="spotlight">
				<div style="margin-right:40px"><img src="images/ultimate-snapchat-guide.png" height="300px" alt="" /></div>
				<div class="content">
					<h3>Download the Ultimate <br />Guide to Snapchat Advertising</h3>
					<ul class="actions">
						<li><a href="/pdf/the-ultimate-guide-to-snapchat-advertising.pdf" target="_blank" class="button special icon fa-download">Direct Download</a></li>
						
					</ul>
				</div>
			</section>
			<section class="special">
				<ul class="icons labeled">
					<li><span class="icon fa-snapchat-ghost"><span class="label">Tap Artists is the premier destination for Snapchat creative and Snapchat advertising</span></span></li>
				</ul>
			</section>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style2 special">
		<header class="major">
			<h2>Want your own copy of the Ultimate Guide<br /> 
			    to Snapchat Advertising to read whenever <br />
			    and wherever you want? Download it from the <br/>link above.</h2>
			<p>Enjoy.</p>
		</header>
	</section>
</template>			